%p#notice= notice

%p
  %b Position:
  = @job.position
%p
  %b Description:
  = @job.description
%p
  %b Level:
  = @job.level
%p
  %b Skills:
  = @job.skills

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Back', jobs_path
